@import url('https://fonts.googleapis.com/css?family=Russo+One');
$darkAccent: #28cccc;
$lightAccent: #2cda9d;
$backgroundBase: #619e9e;
$shadow: 1px 1px 10px 2px darken($backgroundBase, 20%);
$default-border: 1px solid darken($backgroundBase, 35%);

* {
  box-sizing: border-box;
}

.colorScheme {
  background-color: lighten($backgroundBase, 30%);
  border: $default-border;
  box-shadow: $shadow;
  border-top: none;
}

.App {
  @extend .colorScheme;
  text-align: center;

  .heading {
    display: flex;
    align-items: center;
    background-color: lighten($darkAccent, 25%);
    padding: 0.3rem;
    border: $default-border;
    box-shadow: $shadow;
    font-family: Russo One;
    font-size: 1rem;
    color: black;
  }

  textarea {
    @extend .colorScheme;
    width: 99%;
    min-height: 200px;
    margin-bottom: -5px;
    resize: vertical;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 0.875rem;
  }

  #preview {
    @extend .colorScheme;
    max-width: 600px;
    margin: 1.125rem auto;
  }
}

@media screen and (max-width: 850px) {
  #preview {
    max-width: 630px;
  }

  textarea {
    max-width: 550px;
  }
}